# Node
node_modules/

# Build
dist/
build/
*.tsbuildinfo

# Env
.env
.env.*

# Logs
*.log
npm-debug.log*

# Prisma
prisma/*.db
prisma/*.db-journal

# Vite
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary
*.tmp
